
@Model List<OrdenesDeTrabajo.BL Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Ordenes de Trabajo </h2>
    
<table  class= "table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                precio
            </th>
        </tr>
    </thead>
    @foreach (var Producto in Model)
    {
        <tr>
            <td>@Producto.Id</td>
            <td>@Producto.Descripcion</td>
            <td>@Producto.Precio</td>
            
        </tr>
    }
   
    
</table>